<div class="post">
  <div class="post-author">
    <div class="avatar avatar-<%= rand(1..27) %>"></div>
    <div><%= post.user.username %></div>
  </div>
  <div class="post-body">
    <span><%= @post.body %></span>
  </div>
  <div class="post-actions">
    <div class="post-action-like"></div>
    <div class="post-action-comments">4 comments</div>
  </div>
  <div class="post-comments">
    <div class="comment">
      <span class="comment-author">Matias</span>
      Comment
    </div>
    <div class="comment">
      <span class="comment-author">Matias</span>
      Comment
    </div>
  </div>
</div>